<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leon.laotieparty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".LaoTieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ChannelActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".PartyRoomActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name=".DemoMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iflytek.voicedemo.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:icon="@drawable/icon"
            android:label="讯飞语音示例"
            android:screenOrientation="portrait" />
        <activity android:name="com.iflytek.speech.setting.TtsSettings" />
        <activity android:name="com.iflytek.speech.setting.IatSettings" />
        <activity
            android:name="com.iflytek.voicedemo.IatDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.voicedemo.AsrDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.voicedemo.TtsDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.voicedemo.IseDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.voicedemo.vocalverify.VocalVerifyDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.voicedemo.faceonline.OnlineFaceDemo"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.voicedemo.IdentifyGroup.GroupManagerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.voicedemo.IdentifyGroup.FaceIdentifyActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.voicedemo.IdentifyGroup.VocalIdentifyActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.voicedemo.IdentifyGroup.ResultIdentifyActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.speech.setting.IseSettings"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iflytek.speech.setting.UrlSettings"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" />
        <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="&apos;5b8df661&apos;" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />

        <activity
            android:name=".QuestionAnswerActivity"
            android:label="@string/title_activity_question_answer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>